body{
  background-image: url("../img/fond.png");
  background-size:cover;
  background-repeat: no-repeat;
  height: 640px;
}

section{
  height: 430px;
}

h1{
  color:#545454;
}

.jeu{
  text-align: center;
}


#fin{
  position: absolute;
  top:0%;
  left:0%;
  z-index:1;
}


h2{
  text-align: center;
}

section{
  margin-top:5%;
}

#score1, #score2, #affichage{
  text-align: center;
  font-size:25px;
}

/*option tablette*/
@media screen and (min-width:768px){
  #score1, #score2, #affichage{
    font-size:50px;
  }
}

/*option pc*/
@media screen and (min-width:900px){
  #score1, #score2, #affichage{
    font-size:80px;
  }
}
